@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,500;1,400;1,600&display=swap');

body {
    margin: 20px;
    font-family: "Poppins", sans-serif;
    background: #061a51;
}
h1, h2 {
    margin: 0;
    color: #abb5b5;
    text-align: center;
    font-size: 25px;
}
h1 {
    color: rgb(236, 244, 246);
}
p {
    margin: 0;
    font-size: 12px;
    margin-bottom: 20px;
}
.container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0px;
    max-width: 1200px;
    margin: 20px auto;
}
div label {
    font-size: 12px;
    font-weight: bold;
    /* text-shadow: gray 2px 2px 5px; */
    width: fit-content;
    margin-top: 10px;
}
section.choices {
    margin-top: 10px;
}
a {
    color: orange;
}

img {
    width: 100%;
    margin-bottom: 10px;
    box-shadow: rgb(55, 55, 55) 0px 0px 12px;
}
header {
    max-width: 1200px;
    margin: 20px auto;
    border-bottom: 1px solid #bbc7c7;
}

form {
    background: white;
    padding: 10px;
}
section input {
    margin-bottom: 20px;
}
section.user_input, .choices {
    font-size: 12px;
    /* border-bottom: 1px dotted lightcoral; */
}
div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    align-items: center;
}

input {
    border: 1px solid lightgray;
}
input#other_input {
    width: 250px;
}
.send_form button {
    display: block;
    width: 100px;
    margin: auto;
}
button {
    font-size: 12px;
}
.login button {
    display: block;
    width: fit-content;
    margin-left: auto;
}


@media only screen and (min-width: 550px) {
    section div {
        /* grid-template-columns: repeat(1, 1fr); */
    }
    p, button {
        font-size: 1rem;
    }   
    h1, h2 {
        font-size: 2rem;
    }
    a:hover {
        color: rgb(255, 189, 67);
        text-shadow: 0px 0px 5px rgb(255, 225, 168);
        cursor: grab;
    }
    a:active {
        cursor: grabbing;
    }
    div input {
        height: 2rem;
    }
    .choices input {
        margin-right: 10px;
    }
    img {
        width: 75%;
        margin: auto;
    }
    div label {
        font-size: 1rem;
    }
    button:hover {
        cursor: pointer;
    }

}
@media only screen and (min-width: 1280px) {
    form {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}