<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login_in_style.css') }}">

</head>
<body>
    <div class="content-section">
        <form action="{{url_for('login')}}" method="post" class="login_form">
            <section >
                <div class="title">
                    <h2>
                        Administrator Login
                    </h2>
                </div>
                <div class="container">
                <label for="uname"><b>Username</b></label>
                <input id="user" type="text" placeholder="Enter Username" name="username" value="" autocomplete="off" required>
            
                <label for="password"><b>Password</b></label>
                <input id="pswrd" type="password" placeholder="Enter Password" name="password" value="" autocomplete="off" required>
            
                <input type="submit"/>
                <!-- <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label> -->
                </div>
            </section>
          
            <!-- <div class="container" style="background-color:#f1f1f1">
              <button type="button" class="cancelbtn">Cancel</button>
              <span class="psw">Forgot <a href="#">password?</a></span>
            </div> -->
          </form>
    </div>
    <script>
        // window.onload = function() {
        //     let username = document.getElementById('user')
        //     let password = document.getElementById('pswrd')
        //     if(username) username.value = " "
        //     if(password) password.value = " "
        // };
    </script>
        
</body>
</html>